/* @import url(//fonts.googleapis.com/earlyaccess/hanna.css); */
html{
    background-color: black;
}
p{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 80px;
}
a{
    text-decoration: none;
    color: white;
    font-size: 28px;
    padding: 0;
    margin: 3px;
    font-family: 'Hanna', serif;
}
table{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
td{
    text-align: center;
    width: 360px;
}